@model IEnumerable<FSVentasCoreAs.Models.Usuarios>

@{
    ViewData["Title"] = "Consulta";
}

<h2>Consulta Usuarios</h2>

<p>
    <a asp-action="Crear">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraseña)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuarios.Nombre)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.UsuarioId">Editar</a> |
                <a asp-action="Detalle" asp-route-id="@item.UsuarioId">Detalle</a> |
                <a asp-action="Eliminar" asp-route-id="@item.UsuarioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <div>
 <a asp-action="Index">Reporte</a>
 </div>

