@model IEnumerable<FSVentasCoreAs.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

 <!DOCTYPE html>
<html>
<head>
    <title>Reporte de Usuarios</title>
</head>
<body>
    <!--
    content of this area will be the content of your PDF file
    -->
    <div id="HTMLtoPDF">

        <h2>Reporte de Usuarios</h2>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contraseña)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoUsuarios)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contraseña)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoUsuarios.Nombre)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
            
            </div>
    <a href="#" onclick="HTMLtoPDF()">Descargar Reporte Pdf</a>
    <script src="js/jspdf.js"></script>
    <script src="js/jquery-2.1.3.js"></script>
    <script src="js/pdfFromHTML.js"></script>
</body>
</html>
                    