@model IEnumerable<FSVentasCoreAs.Models.Articulos>

@{
    ViewData["Title"] = "Consulta";
}

<

<p>
    <a asp-action="Crear">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriasArticulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcasArticulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriasArticulos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcasArticulos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedores.Nombre)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.ArticuloId">Editar</a> |
                <a asp-action="Detalle" asp-route-id="@item.ArticuloId">Detalle</a> |
                <a asp-action="Eliminar" asp-route-id="@item.ArticuloId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Reporte</a>
</div>
