@model IEnumerable<FSVentasCoreAs.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
</head>
<body>
    <!--
    content of this area will be the content of your PDF file
    -->
    <div id="HTMLtoPDF">
        <h2>Reporte de Clientes</h2>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sexo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cedula)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Celular)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DistritosMunicipales)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Municipios)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Provincias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sectores)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Celular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DistritosMunicipales.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Municipios.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Provincias.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sectores.Nombre)
                            </td>
            
                        </tr>
                    }
                </tbody>
            </table>

        </p>
    </div>
    <a href="#" onclick="HTMLtoPDF()">Descargar Reporte Pdf</a>
    <script src="js/jspdf.js"></script>
    <script src="js/jquery-2.1.3.js"></script>
    <script src="js/pdfFromHTML.js"></script>
</body>
</html>


